<% layout('layouts/boilerplate.ejs') -%> <br /><br />

<body>
  <div class="container-help">
    <div class="firstColumn">
      <div class="container-md center">
        <h2 class="heading" style="border-bottom: 2px solid green">
          Let's Make Some Understanding
        </h2>
      </div>

      <div class="center" style="line-height: 70px">
        <h4>Best Resources</h4>
        <ul>
          <li>BCA ALL Notes</li>
          <li>BCA 6th Semester Projects Topics</li>
          <li>Frontend Developer Notes</li>
          <li>Backend Developer Notes</li>
          <li>Full Stack Developer Notes</li>
          <li>
            To Access All Notes . Just Register Yourself and you will able to
            download all notes for free
          </li>
        </ul>
      </div>
    </div>
    <div class="secondColumn">
      <div class="img">
        <img src="/studyImg.png" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>

  <div class="center" style="line-height: 70px">
    <h4>Frontend Resources</h4>
    <ul>
      <li>
        <a href="https://www.w3schools.com/html/" target="_blank"
          >HTML Tutorial</a
        >
      </li>
      <li>
        <a href="https://www.w3schools.com/css/default.asp" target="_blank"
          >CSS Tutorial</a
        >
      </li>
      <li>
        <a href="https://www.w3schools.com/js/default.asp" target="_blank"
          >JavaScript Tutorial</a
        >
      </li>
      <li>
        <a
          href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
          target="_blank"
          >BootStrap Tutorial</a
        >
      </li>
      <li>
        <a href="https://tailwindcss.com/docs/installation" target="_blank"
          >Tailwind Css Tutorial</a
        >
      </li>
    </ul>
  </div>
  <div class="center" style="line-height: 70px">
    <h4>Backend Resources</h4>
    <ul>
      <li>
        <a href="https://www.w3schools.com/nodejs/default.asp" target="_blank"
          >Node.js</a
        >
      </li>
      <li>
        <a href="https://www.geeksforgeeks.org/express-js/" target="_blank"
          >Express.js</a
        >
      </li>
      <li>
        <a href="https://www.w3schools.com/mongodb/" target="_blank">MongoDB</a>
      </li>
      <li>
        <a href="https://www.w3schools.com/mysql/default.asp" target="_blank"
          >MySql</a
        >
      </li>
      <li>
        <a href="https://www.w3schools.com/react/default.asp" target="_blank"
          >React + Vite</a
        >
      </li>
      <li>
        <a
          href="https://www.geeksforgeeks.org/react-material-ui/"
          target="_blank"
          >Material UI Tutorial</a
        >
      </li>
    </ul>
  </div>
</body>
